/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;/* CSS declarations go here */
}
